.background img {
  height: 800px;
  width: 100%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 700px;
}

hr {
  width: 1000px;
  position: absolute;
  left: -500px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: -400px;
  gap: 70px;
  padding-top: 20px;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar li:hover {
  text-decoration: underline white;
  transition: 0.5s ease-out;
}

.hr {
  position: absolute;
  top: 180px;
  left: 200px;
  width: 1000px;
}

.content {
  position: absolute;
  top: 400px;
  color: white;
  padding-left: 200px;
}

.content a {
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: orangered;
}

.content span {
  line-height: 25px;
}

.content a:hover {
  background-color: rgba(62, 59, 59, 0.986);
  transition: 0.3s ease-out;
}

.con1 {
  display: flex;
  justify-content: space-evenly;
  padding: 70px;
}

.details p {
  line-height: 28px;
}

.con1 a {
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: orangered;
}

.con1 a:hover {
  background-color: rgba(62, 59, 59, 0.986);
  transition: 0.3s ease-out;
}

.con2 {
  background-color: rgba(240, 248, 255, 0.691);
}

.con2 p {
  display: flex;
  justify-content: center;
}

.con2 .p1 {
  font-size: 40px;
  font-weight: bold;
}

.con2 .p2 {
  color: rgba(128, 128, 128, 0.701);
}

.con2 ul {
  display: flex;
  justify-content: center;
  gap: 150px;
  list-style-type: none;
  background-color: white;
  border-radius: 200px;
  padding: 30px;
}

.con2 li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.con2 .li1 {
  padding: 20px;
  background-color: rgba(255, 68, 0, 0.714);
}

.con2 .li2 {
  padding: 20px;
}

.con2 .li2:hover {
  background-color: rgba(255, 68, 0, 0.714);
}

.con3 img {
  background-repeat: no-repeat;
  height: 400px;
  width: 800px;
}

.con3 p {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: orchid;
}

.con3 .top {
  font-size: 35px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  position: absolute;
  left: 900px;
  top: 2070px;
  border: 2px solid rgba(0, 0, 0, 0.339);
  padding: 40px;
}

.form input {
  height: 20px;
  border-radius: 10px;
  border-color: antiquewhite;
  text-align: center;
  letter-spacing: 2px;
}

.form button {
  width: 190px;
  height: 40px;
  text-align: center;
  position: relative;
  left: 100px;
  background-color: rgba(255, 68, 0, 0.788);
  color: white;
  letter-spacing: 2px;
  border: none;
  border-radius: 20px;
}

.form button:hover {
  box-shadow: 5px 5px 5px 5px rgba(255, 68, 0, 0.874);
}

.gallery .title {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: chocolate;
  padding: 20px;
}

.gallery .photo {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 128, 0, 0.686), rgba(255, 255, 0, 0.686), rgba(255, 0, 0, 0.583));
  justify-items: center;
}
