.card{
    display: grid;
    grid-template-columns: repeat(3,12rem);
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img{
    border-radius: 10px;
    border: 4px solid black;
}

h1{
    text-align: center;
    color: rgb(234, 28, 96);
}

.image{
    display: grid;
}